// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Colors
$primary-color: #2d383f;
$primary-opacity-color: rgba(45, 56, 63, 0.3);
$primary-opacity-2-color: rgba(45, 56, 63, 0.2);
$additional-color: #0266c1;
$additional-opacity-color: rgba(2, 102, 193, 0.1);
$blue-color: #4187dd;
$dark-blue-color: #1c3374;
$dark-blue-opacity-color: rgba(28, 51, 116, 0.1);
$green-color: #48a74c;
$dark-green-color: #202813;
$white-color: #ffffff;
$white-opacity-color: rgba(255, 255, 255, 0.5);
$black-opacity-color: rgba(0, 0, 0, 0.2);
$gray-color: #999999;
$light-gray-color: #d9d9d9;
$white-opacity-color: rgba(255, 255, 255, 0.5);
$red-color: #ff121f;

// Fonts
$base-font: "Montserrat", sans-serif;

// Weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
