.about__container {
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 94px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 0;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}

.about__item {
  &--img {
    @media (min-width: $tablet-width) {
      padding: 114px 0 0;
      width: 435px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      width: 660px;
    }
  }

  &--description {
    position: relative;
    padding: 9px 15px 23px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 45px 0 0;
    }
  }

  &--description p {
    line-height: 20px;
    margin-top: 13px;
    width: 280px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 11px;
      width: 270px;
    }

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 22px;
      margin-top: 16px;
      width: 585px;
    }
  }

  &--description h5 {
    font-weight: $weight-bold;
    font-size: 16px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 18px;
    }

    @media (min-width: $desktop-width) {
      font-size: 21px;
      line-height: 21px;
    }
  }

  &--description ul {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 27px;

    @media (min-width: $tablet-width) {
      margin-top: 48px;
      gap: 29px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 59px;
    }
  }

  &--description p br {
    &:nth-child(1) {
      @media (min-width: $desktop-width) {
        display: none;
      }
    }

    &:nth-child(2) {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &:nth-child(3) {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    &:nth-child(4) {
      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }
}

.about-title__shadow {
  top: -3px;

  @media (min-width: $tablet-width) {
    top: -15px;
  }

  @media (min-width: $desktop-width) {
    top: 6px;
  }
}
